
body {
    padding: 0 !important;
}
.sample,
.bgisCopyPaste,
.pinpadCopypaste {
    padding:0;
    margin:0;
    text-align: start;
    display: none;
    white-space:inherit;
}

.row {
    width: 100%;
}

.qoute h2 {
    font-size: 1.25rem;
}

.ip-ad {
    margin-block: 0.625rem;
    height: 300px;
    width: 350px;
    display: flex;
}

.ip-ad img {
    height: 100%;
    width: 100%;

}
.weatherDiv {
    padding-inline: 0.625rem;
}
 p {
    margin: 0;
 }

 ul li {
    list-style-type: none;
 }
 .navbars {
    display: flex;
    align-items: center;
    padding-inline: 0.325rem;
 }
 .tenor-gif-embed {
    padding: 50px;
 }

 /* .navbar {
    position: sticky;
    top: 0;
    display: block;
    text-align: center;
    z-index: -99999;
} */

.test {
    position: sticky;
    top: 0;
    display: block;
    text-align: center;
}
.info {
    text-align: start;
}

/* #resetBTN {
    margin: 1rem;
} */
/* .col-4 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */

.modals {
    padding: 0 !important;
    overflow: scroll !important;
}

.display-none {
    display: none;
}
.displayimport {
    display: none !important;
}
label {
    margin: 0.25rem;
}
#FCdetailed, #FCts{
    height: 200px;
    border:1px solid black;
    text-align: start;
    padding: 0.25rem;
}
#FCdetailed, #FCts{
    overflow:auto;
}
#myBtn{
    display:block;
    margin:6px 0px;
}

/* .textArea {
    position: sticky;
    top:0;
} */

.color {
    color: aqua;
}

.info ul li {
    margin: 0.625rem;
}

.vlsl {
    text-align: center;
}