

.sample {
    padding:0;
    margin:0;
    text-align: start;
    display: none;
    white-space:inherit;
}

label {
    margin: 0.25rem;
}
#FCdetailed, #FCts{
    height: 200px;
    border:1px solid black;
    text-align: start;
    padding: 0.25rem;
}
#FCdetailed, #FCts{
    overflow:auto;
}
#myBtn{
    display:block;
    margin:6px 0px;
}

/* #textArea {
    display: none;
} */

.color {
    color: aqua;
}